:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

code {
  color: #58c4dc;
  background-color: #0000;
  border-radius: 3px;
  padding: 0 4px;
  font-size: 0.9em;
}

pre {
  background-color: #0000;
  border: 1px solid #272727;
  border-radius: 3px;
  padding: 10px;
  overflow-x: auto;
}

pre code {
  display: block;
  line-height: 1.5;
}

.route-link {
  padding-left: 10px;
  color: #92969d !important;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

.route-link:hover {
  color: #58c4dc !important;
}

.route-link.active {
  color: #58c4dc !important;
}

.route-link.active::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 2px;
  height: 20px;
  width: 3px;
  background-color: #58c4dc;
}

.arrangement {
  flex-direction: row !important;
}

@media screen and (max-width: 768px) {
  .arrangement {
    flex-direction: column !important;
  }
}
